# Fisiere Python generate automat
__pycache__/

# Date preprocesate (fisiere mari)
*.npy

# Modele salvate (fisiere mari)
*.keras
MODEL/

# Fisiere audio mari
*.wav
*mp3
*ogg
*flac

# Date preprocesate
DATA/PRE_PROCESSED_DATA/
MODEL/